<div>
  <!-- I want to use the rev.username instead of rev.id, how do I implement username method in reviews? -->
  <strong>Review ID: <%= review.id %>, says:</strong>
  <%= review.description %>
</div>
